body {
  font-family: "Poppins", sans-serif;
  margin: 20px;
}

header,
h1,
h2 {
  color: #333;
}

section {
  margin-bottom: 20px;
}

input[type="text"],
input[type="number"],
textarea,
select {
  margin-bottom: 10px;
  padding: 6px;
  width: 80%;
}

button {
  background-color: #4caf50;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #106414;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

.error-alert {
  background-color: #f44336;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.confirmacao {
  background-color: #ffc107;
  color: #333;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.confirmacao button {
  background-color: #4caf50;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.confirmacao button:hover {
  background-color: #45a049;
}
